*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(250, 245, 215);
}
header, footer {
    background-color: rgb(242, 242, 54);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-area {
    display: flex;
    height: 66vh;
    margin: 2vh 0;
}
aside {
    width: 20%;
    background-color: rgb(102, 102, 203);
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    width: 80%;
    background-color: rgb(56, 56, 97);
    display: flex;
    flex-wrap: wrap;
}
p {
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.small_blocks {
    width: 31%;
    background-image: url('image.jpg');
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}